* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #8b3dff;
  --text-color: #0d1216db;
  --text-color-opacity: #0d1216b3;
}

body {
  font-family: "Noto Sans", sans-serif;
}

.section {
  padding-inline: 2rem;
}

.container {
  max-width: 1200px;
  margin-inline: auto;
  padding-block: 5rem;
}

.block {
  margin-bottom: 5rem;
  text-align: center;
}

.block__title {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.block__content {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  overflow: scroll;
  scrollbar-width: none; /* Soporte para Firefox - oculta la barra de desplazamiento */
}

/* Oculta la barra de desplazamiento en navegadores Webkit */
.block__content::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.block__button {
  position: relative;
  padding: .6rem;
  font-family: inherit;
  font-size: .9rem;
  font-weight: 600;
  color: var(--text-color-opacity);
  cursor: pointer;
  white-space: nowrap;
  background-color: transparent;
  border: none;
  transition: color .2s;
}

.block__button::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--primary-color);
  transform: scaleX(0); /* Por defecto el after no tiene un tamaño */
  transition: transform .3s;
}

.block__button:hover,
.block__button--selected {
  color: var(--text-color); /* Se aplicara cuando se de click al button */
}

/* Se aplicara cuando se de click al button */
.block__button--selected::after {
  transform: scaleX(1);
}

.group-sections {
  display: grid;
  grid-template-areas: "content";
  overflow-x: hidden;
}

.content {
  grid-area: content;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  visibility: hidden; /* Por defecto la seccion esta oculta */
  transform: translateX(100%);
  transition: transform .8s;
}

/* Se aplicara a la seccion correspondiente cuando se de click a su respectivo button */
.content--visible {
  visibility: visible;
  transform: translateX(0);
}

.content__subtitle {
  margin-bottom: 2rem;
  font-size: 1.3rem;
}

.content__paragraph {
  margin-bottom: 1rem;
  color: var(--text-color-opacity);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.list__item {
  list-style-image: url(../img/icon-check.svg);
  list-style-position: inside;
  color: var(--text-color-opacity);
  line-height: 1.5;
  text-wrap: pretty;
}

.content__figure {
  order: -1;
  width: 100%;
  max-width: 630px;
}

.content__image {
  display: block;
  width: 100%;
}


@media (width >= 896px) {
  .block__title {
    font-size: 2rem;
  }
  
  .block__content {
    justify-content: center;
  }

  .content {
    flex-direction: row;
    gap: 3rem;
  }
  
  .content__subtitle {
    font-size: 1.5rem;
  }

  .content__paragraph {
    font-size: 1.1rem;
  }

  .list__item {
    font-size: 1.1rem;
  }
  
  .content__figure {
    order: 1;
  }
}

@media (width >= 1024px) {
  .content {
    gap: 4rem;
  }
}